/*For older browsers*/
html.no-svg .nay,
html.no-touch .nay {
	color: orange;
}

html.no-svg .yay,
html.no-touch .yay  {
	display: none;
}


/*For newer broswers*/
html.svg .yay,
html.touch .yay {
	color: teal;
}

html.svg .nay,
html.touch .nay {
	display: none;
}

